html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #17bbb0;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

footer {
  color: white;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

footer a {
  color: rgb(175, 241, 251);
}

.container h3 {
  background-color: #327fc7;
  border-radius: 10px;
  padding: 2.5em 0.3em 2.5em 0.3em;
  text-align: center;
  color: floralwhite;
  font-size: 18pt;
}

.custom-control {
  padding: 0 .5rem 0 1.5rem;
}

.date-time {
  padding: 0 5px;
}

.jumbotron {
  padding: 70px 30px;
  margin: 0px auto;
  color: floralwhite;
  border-radius: 0px;
}

address {
  max-width: 200px;
  font-size: 80%;
  margin: 0px;
  color: floralwhite;
}

.footer-img {
  width: 30px;
  margin: 0.5em;
}


.nav-item {
  padding-left: 0.7em;
}


.font-a-social {
  color: floralwhite;
  font-size: 70%;
  text-decoration: none;
}

.navbar-text a {
  cursor: pointer;
}

.carousel {
  background-color: #1fdacd;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  padding: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.carousel-caption {
  height: 100%;
  width: calc(100% - 350px);
  right: 50px;
  top: 0;
  left: 300px;
  padding: 3rem;
}

.carousel-caption .d-flex {
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}

#reserve-section button label{
  cursor: pointer;
}

#carousel-button {
  z-index: 100;
  right: 0;
  position: absolute;
  bottom: 0;
}

#carousel-button span {
  transition: .25s;
}